*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation */

.navbar{
    margin-top: 35px;
    position: absolute;
    width: 100%;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    font-family: Roboto, sans-serif;
    
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #2f93d8;
}
.navbar-expand-lg .navbar-nav .nav-link-tel{
    padding: 0;
    font-family: 'Proxima Nova Lt';
    font-size: 20px;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.nav-item{
    margin-left: 43px;
}
.nav-text{
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

/* Header */

header{
    padding-top: 20vh;
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-heading{
    text-align: center;
    margin-bottom: 10vh;
}
h1, h3, .li-title, .li-line{
    color: #ffffff;
}
h1{
    font-family: Roboto, sans-serif;
    font-size: 48px;
}
h3{
    font-family: 'Proxima Nova Lt';
    font-size: 36px;
}

/* List */

.header-list{
    list-style: none;
}
.header-list li:before{
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../img/menuelogo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 10px;
    vertical-align: middle;
}
ol, ul{
    padding: 0;
}
.li-title{
    font-family: 'Proxima Nova Rg';
    font-size: 30px;
}
.li-line{
    font-family: 'Proxima Nova Lt';
    font-size: 18px;
    margin-bottom: 22px;
}

/* Form */

.header-form{
    background-color: #ffffff;
    padding: 25px;
    text-align: center;
    width: 380px ;
}
.header-form-title{
    color: #2f93d8;
    font-family: 'Proxima Nova Lt';
    font-size: 24px;

}
.typers{
    margin-bottom: 1vh;
    width: 100%;
    padding: 10px;
}
.btn{
    width: 100%;
    padding: 1vh;
}

/* Section scheme */

section{
    width: 100%;
}
.scheme-all{
    margin-top: 15vh;
}
.circle{
    border: 2px solid #2f93d8;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.scheme{
    width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    font-family: Roboto, sans-serif;
}
.img{
    width: 200px;
    display: flex;
    flex-direction: column;

}
.circle-text{
    margin-top: 40px;
}
.arrow{
    margin-top: 35px;
}
h2{
    font-family: Roboto, sans-serif;
    font-size: 44px;
    text-align: center;
}

/* Companies */

.shadow{
    max-width: 1000px;
    padding: 2vh 0 3vh;
    margin-top: 15vh;
}
.company-logo{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.c-logo{
    width: 100px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    margin: 0 40px;
}

/* Tariffs */

.price-sect-header{
    margin-top: 15vh;
}
.month{
    margin-bottom: 0%;
}
.nav-tabs{
    border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    width: 154px;
    border: 1px solid #e7e7e7;
    margin: -1px;
    background-color: #2f93d8;
    color: #ffffff;
}
.nav-tabs .nav-link{
    width: 154px;
    border: 1px solid #e7e7e7;
    margin: -1px;
    border-radius: 0%;
    background-color: #ffffff;
    color: #575757;
}
.month{
    font-family: 'Proxima Nova Lt';
    font-size: 16px;
}
.sale{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin-bottom: 0%;
}
.nav{
    justify-content: center;
}
.mounth-menu{
    margin-top: 2vh;;
}
.tab-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-content>.active{
display: flex;
justify-content: center;
}
.tariff, .middle-tariff, .right-tariff{
    width: 275px;
    padding: 26px;
    margin-top: 83px;
    box-shadow: 0 0 20px 1px rgba(122,122,122,0.5);
}
h4{
    margin-top: 30px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    color: #575757;
}
.big-blue-count{
    font-family: 'Proxima Nova Lt';
    font-size: 36px;
    color: #2e93d8;
}
.count{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #575757;
}
.btn-choise{
    margin-bottom: 34px;
    padding: 15px;;
}
.middle-tariff{
    margin: 70px 43px 0px;
}
.description, .main-description{
    margin-right: 50px;
}
.btn-middle{
    margin-top: 20px;
}

/* Consult */

.consult-title, .consult-req{
    color: #ffffff;
}
.consult-title{
    font-family: Roboto, sans-serif;
    font-size: 60px;
    margin: 10vh 0 0 35px;
}
.consult-req{
    font-family: 'Proxima Nova Lt';
    font-size: 36px;
    margin: 5vh 0 0 35px;

}
.sect-five{
    background-color: #2e93d8;
    margin-top: 15vh;
}
.second-form{
    margin: 30% auto;
    background-color: #ffffff;
    padding: 25px;
    text-align: center;
    width: 380px ;
}

/* Footer */

.privacy-police{
    margin-top: 15px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #2e93d8;
    text-decoration: none;
}
.btn-second{
    margin-bottom: 15px;
}
.adress-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adress{
    font-family: Roboto, sans-serif;
}
.adress, .public-alert{
    font-family: Roboto, sans-serif;
}
.public-alert{
    text-align: right;
}


/* ADAPTIVE */

@media (min-width:992px){
    .btn-hidden{
        display: none;
    }
}
 @media (max-width:480px) {
    .header-form{
        display: none;
    }
    .li-title{
        text-align: center;
    }
    .li-line{
        text-align: center;
    }
    h1{
        font-size: 32px;
    }
    h3{
        font-size: 28px;
    }
    .li-title{
        font-size: 26px;
    }
    .li-line{
        font-size: 18px;
        margin-bottom: 3vh;
    }
    .header-heading{
        margin-bottom: 5vh;
    }
    .price-sect-header{
        font-size: 34px;
        margin-bottom: 5vh;
    }
    .tab-content>.active{
        flex-direction: column;
        align-items: center;
    }
    .middle-tariff{
        margin: 0;
    }
    .tariff, .middle-tariff, .right-tariff{
        margin-top: 6vh;
        width: 400px;
        padding: 2vh;
        text-align: center;
    }
    .tariff, .right-tariff{
        width: 350px;
    }
    h4{
        margin: 0;
        font-size: 26px;
    }
    .count{
        margin: 0;
    }
    .big-blue-count{
        font-size: 26px;
    }
    .btn-choise{
        margin: 0 auto;
        padding: 1vh;
    }
    .description{
        text-align: center;
    }
    .description, .main-description{
        margin: 1vh auto;
    }    
    .main-description{
        margin: 3vh auto;
    }
    .consult-title, .consult-req{
        margin: 2vh 0;
    }
    .consult-title{
        font-size: 35px;
        text-align: center;
    }
    .consult-req{
        font-size: 30px;
        text-align: center;
    }
    .second-form{
        margin: 2vh auto;
    }
    .adress-line{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .public-alert{
        text-align: center;
    }
    .adress-p{
        font-size: 13px;
        margin: 0 ;
    }
    .footer-img{
        width: 120px;
        margin-right: 1vh;
    }
}   
@media (max-width:1200px) {
    .header-menu{
        width: 50%;
    }
}   
@media (max-width:991px) {
    .header-form{
        display: none;
    }
    .btn-hidden{
        width: 100%;
        margin: 0 auto 0;
    }
    .header-menu{
        width: 100%;
        text-align: center;
    }
    .nav-item{
        background-color: #fcfafa;
        text-align: right;
        border: 1px solid black;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #000000;
        padding-right: 5px;
    }
    .nav-text{
        color: #000;
        padding: 5px 5px 0 0;
    }
}   



